<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - Photoparallel</title>

    <environment names="Development">
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/reset-css.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
    <header>
        <div id="sticker" class="header-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <style>
                            body {
                                background-image: url("/img/background1.jpg");
                            }
                        </style>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <div class="navbar-header">
                                <a class="navbar-brand page-scroll sticky-logo" href="/Home/Index">
                                    <h1><span>Photo</span>Parallel</h1>
                                </a>
                            </div>
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    @if (!this.User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a class="page-scroll" href="/Identity/Account/Login"><i class="fas fa-user"></i> Profile</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-user-circle"></i> Hello, @this.User.Identity.Name!
                                            </a>
                                            <div class="dropdown-menu dropdown-content bg-dark" aria-labelledby="navbarDropdown">
                                                <a asp-area="" asp-controller="Orders" asp-action="My" class="dropdown-item nav-link text-white"><i class="fas fa-history"></i> My Orders</a>
                                                <a asp-area="" asp-controller="Rents" asp-action="My" class="dropdown-item nav-link text-white"><i class="fas fa-history"></i> My Rents</a>
                                                <a asp-area="" asp-controller="Invoices" asp-action="My" class="dropdown-item nav-link text-white"><i class="fas fa-history"></i> My Invoices</a>
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item nav-link text-white"><i class="fas fa-cog"></i> Settings</a>
                                                <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item nav-link text-white"><i class="fas fa-sign-out-alt"></i> Exit</a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            @await Component.InvokeAsync(typeof(RentCartComponent))
                                        </li>
                                        <li class="dropdown">
                                            @await Component.InvokeAsync(typeof(ShoppingCartComponent))
                                        </li>
                                    }
                                </ul>
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="active">
                                        <a class="page-scroll" href="/Home/Index"><i class="fa fa-home"></i> Home</a>
                                    </li>
                                    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products</a>
            <ul class="dropdown-menu dropdown-content bg-dark" role="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> All</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Camera"><i class="fas fa-camera"></i> Cameras</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Lens"><i class="fa fa-camera-retro"></i> Lenses</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Drone"><i class="fas fa-helicopter"></i> Drones</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Stand"><i class="fab fa-stripe-s"></i> Stands</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Bag"><i class="fas fa-briefcase"></i> Bags</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Accessory"><i class="fab fa-adn"></i> Accessories</a></li>
                <li> <a asp-area="" asp-controller="Rents" asp-action="Index"><i class="fas fa-registered"></i> Rent</a></li>
            </ul>
        </li>*@
                                    @if (this.User.IsInRole("Administrator"))
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Products</a>
                                            <ul class="dropdown-menu dropdown-content bg-dark" role="menu">
                                                <li><a asp-area="Administration" asp-controller="Products" asp-action="All">All Products</a></li>
                                                <li><a asp-area="Administration" asp-controller="Products" asp-action="Rent">Rent Products</a></li>
                                                <li><a asp-area="Administration" asp-controller="Products" asp-action="Hidden">Hidden Products</a></li>
                                                <li><a asp-area="Administration" asp-controller="Products" asp-action="Oos">Out of Stock</a></li>
                                                <li><a asp-area="Administration" asp-controller="Products" asp-action="Create">Create Product</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Orders</a>
                                            <ul class="dropdown-menu dropdown-content bg-dark" role="menu">
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="All">All</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Pending">Pending</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Waiting">Waiting</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Approved">Approved</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Shipped">Shipped</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Delivered">Delivered</a></li>
                                                <li><a asp-area="Administration" asp-controller="Orders" asp-action="Denied">Denied</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Rents</a>
                                            <ul class="dropdown-menu dropdown-content bg-dark" role="menu">
                                                <li><a asp-area="Administration" asp-controller="Rents" asp-action="Pending">Pending</a></li>
                                                <li><a asp-area="Administration" asp-controller="Rents" asp-action="Rented">Rented</a></li>
                                                <li><a asp-area="Administration" asp-controller="Rents" asp-action="Returned">Returned</a></li>
                                                <li><a asp-area="Administration" asp-controller="Rents" asp-action="Denied">Denied</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Credits</a>
                                            <ul class="dropdown-menu dropdown-content bg-dark" role="menu"></ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>
                        <hr class="my-1 mt-2">
                        <partial name="~/Views/Shared/Partials/_MiddleSectionPartial.cshtml" />
                    </div>
                </div>
                <hr class="my-1 mt-2" />
            </div>
        </div>
    </header>

    <div class="container body-content body-height">
        <main class="mt-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="text-center m-3 bg-dark">
        <p class=" text-white">&copy; 2019 - Photoparallel.Web</p>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)

</body>
</html>
