@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="text-sm-center mt-5 text-info">Register</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger text-center"></div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.PhoneNumber"></label>
                    </div>
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number..." />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.Password"></label>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.ConfirmPassword"></label>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.FirstName"></label>
                    </div>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="First Name..." />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Input.LastName"></label>
                    </div>
                    <input asp-for="Input.LastName" class="form-control" placeholder="Last Name..." />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary center-block mt-1">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
