@model Photoparallel.Web.Areas.Administration.ViewModels.Products.EditProductsInputModel
@using Photoparallel.Data.Models.Enums;
@{
    ViewData["Title"] = "Create";
}

<div class="h2 text-center text-info font-weight-bold">Create Product</div>
<hr class="w-50" />
<div class="container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <input asp-for="Name" class="form-control bg-dark text-white" placeholder="Name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="Brand" class="control-label"></label>
                </div>
                <input asp-for="Brand" class="form-control bg-dark text-white" placeholder="Brand..." />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center text-white">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <textarea asp-for="Description" class="form-control bg-dark text-white" placeholder="Description..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="ProductType" class="control-label"></label>
                </div>
                <select asp-for="ProductType" class="form-control bg-dark text-white" asp-items="@Html.GetEnumSelectList<ProductType>()"><</select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="ProductStatus" class="control-label"></label>
                </div>
                <select asp-for="ProductStatus" class="form-control bg-dark text-white" asp-items="@Html.GetEnumSelectList<ProductStatus>()"><</select>
                <span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <input asp-for="Price" class="form-control bg-dark text-white" placeholder="Price..." />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="PricePerDay" class="control-label"></label>
                </div>
                <input asp-for="PricePerDay" class="form-control bg-dark text-white" placeholder="Price Per Day..." />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="Quantity" class="control-label"></label>
                </div>
                <input asp-for="Quantity" class="form-control bg-dark text-white" placeholder="Quantity..." />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="FormImages" class="control-label"></label>
                </div>
                <input asp-for="FormImages" class="form-control bg-dark text-white" />
                <span asp-validation-for="FormImages" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="FormImages" class="control-label"></label>
                </div>
                <input asp-for="FormImages" class="form-control bg-dark text-white" />
                <span asp-validation-for="FormImages" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center text-white">
                    <label asp-for="FormImages" class="control-label"></label>
                </div>
                <input asp-for="FormImages" class="form-control bg-dark text-white" />
                <span asp-validation-for="FormImages" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" value="" class="btn btn-primary">Edit Product</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
