<footer class="bg-dark m-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row text-white">            
            <div class="col-md-5 mb-md-0 mb-3">
                <h5 class="text-info text-left m-4">Products:</h5>
                <ul class="text-left m-4">                  
                    <li><a asp-area="" asp-controller="Home" asp-action="Camera" class="text-muted">Cameras</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Lens" class="text-muted">Lenses</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Drone" class="text-muted">Drones</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Stand" class="text-muted">Stands</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Bag" class="text-muted">Bags</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Accessory" class="text-muted">Accessories</a></li>                  
                </ul>
            </div>
            <div class="col-md-5 mb-md-0 mb-3">
                <h5 class="text-info text-left m-4">General:</h5>
                <ul class="text-left m-4">
                    <li><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li class="mt-2"><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Delivery">Delivery</a></li>
                    <li class="mt-2"><a class="text-muted" asp-area="" asp-controller="Home" asp-action="RentalTerms">Rental Terms</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <h5 class="text-info text-left m-4">Method of payment:</h5>
                <ul class="text-left m-4">
                    <li><span class="text-muted"><i class="fas fa-truck"></i> On delivery</span></li>
                    <li class="mt-2"><span class="text-muted"><i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> Bank transfer</span></li>
                    <li class="mt-2"><span class="text-muted"><i class="fas fa-file-invoice"></i> Credit</span></li>
                </ul>
                <div class="m-4">
                    <img src="~/img/visa-mastercard.png" width="90" alt="VisaMasterCard" />
                </div>               
            </div>
        </div>
    </div>
    <p class="text-center text-white">Copyright &copy; 2019 Photoparallel. All rights reserved.</p>
</footer>