<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="main-menu center-block">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" class="text-info" ><i class="fas fa-home"></i> All</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Camera" class="text-info" ><i class="fas fa-camera"></i> Cameras</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Lens" class="text-info" ><i class="fa fa-camera-retro"></i> Lenses</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Drone" class="text-info" ><i class="fas fa-helicopter"></i> Drones</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Stand" class="text-info" ><i class="fab fa-stripe-s"></i> Stands</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Bag" class="text-info" ><i class="fas fa-briefcase"></i> Bags</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Accessory" class="text-info" ><i class="fab fa-adn"></i> Accessories</a></li>
            <li><a asp-area="" asp-controller="Rents" asp-action="Index" class="text-info" ><i class="fas fa-registered"></i> Rent</a></li>
        </ul>
    </div>
</nav>

