<div class="container col-md-12 col-sm-12">    
    <div class="d-flex justify-content-between">
        <div class="col-md-3 text-info font-italic fond-bold text-center" style="margin-top: 14px;">
            <i class="fas fa-phone"></i><strong> +359 888 888 888</strong>
        </div>
        <div class="col-md-6 center-block p-1">
            <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="input-group">                    
                    <input type="text" class="search-box mx-auto" id="Search" name="SearchString" placeholder="Search...">
                </div>
            </form>
        </div>
        <div class="col-md-3 text-info font-italic fond-bold text-center" style="margin-top: 14px;">
            <i class="fas fa-envelope"></i><strong> photoparallel@gmail.com</strong>
        </div>
    </div>
</div>

