
@{
    ViewData["Title"] = "Contact";
}

@*<h2 class="text-center text-info">@ViewData["Title"]</h2>
<hr class="w-50" />*@
<div class="row">
    <div class="col-md-4">
        <div class="h2 text-center text-info">@ViewData["Title"]</div>
        <div class="shadow py-3 px-3">
            <strong>"PhotoParallel EOOD</strong>
            <address>
                Sofia 1766 <br />
                Mladost 4, Business Park Sofia 1, building 1A<br />
            </address>
            <p class="mb-0"><strong>Email: </strong><a href="mailto:xeon.computers.bg@gmail.com">photoparallel@gmail.com</a></p>
            <p class="mb-0"><strong>Phone: </strong>+359 888 88 88 88</p>
        </div>
    </div>
    <div class="col-md-8">
        <iframe src="https://maps.google.com/maps?q=Mladost%204%2C%20Business%20Park%20Sofia%201%2C%20building%201A&t=&z=13&ie=UTF8&iwloc=&output=embed" height="300" style="width:100%; border:0;" frameborder="0" allowfullscreen></iframe>
    </div> 
</div>