
@{
    ViewData["Title"] = "Delivery";
}
<div class="container shadow pl-4 pr-4 pb-2">
    <h2 class="text-center text-info">@ViewData["Title"]</h2>
    <hr class="w-50" />
    <div class="row">
        <div class="col-md-8 mb-md-0 mb-3">
            <p><strong>• We work with the courier company - Econt.</strong></p>
            <p><strong>• Free delivery for orders over 100 BGN.</strong></p>
            <p><strong>• Payment is made upon receipt of the goods with cash on delivery.</strong></p>
            <p><strong>• For orders below 100 BGN the delivery price is 5 BGN.</strong></p>
            <p><strong>• We always send with option to inspect the goods before payment.</strong></p>
            <p><strong>• You can test the product before paying it to the Econt employee.</strong></p>
            <p><strong>• Orders made before 15:30 are executed immediately and delivered according to the Econt Express schedule (from 1 to 3 working days).</strong></p>
            <p><strong>• Out of stock products are delivered within 7 days.</strong></p>
        </div>
        <div class="col-md-4 mb-md-0 mb-3 mt-4">
            <img src="~/img/carton-boxes-500x500.jpg" width="400" alt="Warranty" />
        </div>      
    </div>
</div>