
@{
    ViewData["Title"] = "Rental Terms";
}
<div class="container shadow pl-4 pr-4 pb-2">
    <h2 class="text-center text-info">@ViewData["Title"]</h2>
    <hr class="w-50" />
    <div class="row">
        <div class="col-md-8 mb-md-0 mb-3">
            <p><strong>• The maximum rental period is one week.</strong></p>
            <p><strong>• The orders must be placed one day in advance.</strong></p>
            <p><strong>• Delivery days to and from your address are not included in the rental days.</strong></p>
            <p><strong>• Delivery costs are included in the rental price.</strong></p>
            <p><strong>• Upon rent you have to pay in advance for the rental days plus a guarantee.</strong></p>
            <p><strong>• Payment is only by bank transfer.</strong></p>
            <p><strong>• The guarantee will be refunded upon return of the product(s). If you delay the return date or cause damage to the product(s), a fine will be deducted from the guarantee.</strong></p>
        </div>
        <div class="col-md-4 mb-md-0 mb-3 mt-2">
            <img src="~/img/rent.jpg" width="400" alt="Warranty" />
        </div>      
    </div>
</div>