
@{
    ViewData["Title"] = "InvalidCardRent";
}

<h1 class="text-center text-danger">The card is not valid! Please enter a valid card.</h1>
<hr w-50/>
<div class="mb-2 col-4 center-block">
    <a asp-controller="CreditCards" asp-action="PayRent" asp-route-direct="true" class="myButton-blue btn-lg btn-block text-center">Back</a>
</div>